In [1]:
%matplotlib inline

import os
import pandas as pd
from tqdm import tqdm
import sys
import logging
import matplotlib.pyplot as plt
import numpy as np

sys.path.insert(0, './_modules')
from general_functions import clean_text, language, corpus_tool
from path_definitions import control_dir, unigrams_dir, output_dir
#from orchestra_module import get_table
from datetime import datetime
from db_functions import TheDB

plt.style.use('ggplot')

/home/dev/anaconda3/lib/python3.7/site-packages/tqdm/std.py:648: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [2]:
## bots BD connections
conn_dict = {'host':'localhost', 'database': 'brspcqadev',
             'user':'root', 'password':'quito2020'}

cqdb = TheDB(conn_dict)

In [3]:
cqdb.TablesList()

['Access_level',
 'Address',
 'Attachment',
 'Bancos',
 'Delivery_Check',
 'Emissary',
 'Emissary_Status',
 'IP_block',
 'Label',
 'Monitoring',
 'Notifications_log',
 'Rating',
 'Role',
 'Screening',
 'Trix',
 'Trix_1',
 'Trix_Oficial',
 'Trix_empty',
 'Users',
 'Users_status',
 'relation_case_ext',
 'relation_case_main',
 'relation_case_thread',
 'relation_ext_case',
 'relation_ext_main',
 'relation_ext_thread',
 'relation_trix_case',
 'relation_trix_ext']

In [4]:
cqdb.TablesDataType('Users')

                  0            1    2    3     4               5
0          users_id      int(11)   NO  PRI  None  auto_increment
1        first_name     longtext  YES       None
2         last_name     longtext  YES       None
3             email     longtext  YES       None
4               cpf  varchar(45)  YES       None
5                rg     longtext  YES       None
6               oab     longtext  YES       None
7             phone     longtext  YES       None
8         cellphone     longtext  YES       None
9          Password     longtext  YES       None
10  users_status_id      int(11)   NO  MUL  None
11          role_id      int(11)   NO  MUL  None
12         level_id      int(11)   NO  MUL  None
13            ip_id      int(11)   NO  MUL  None
14        adress_id      int(11)   NO  MUL  None

In [5]:
df_users = cqdb.GetTable('Users')

In [6]:
df_users

,users_id,first_name,last_name,email,cpf,rg,oab,phone,cellphone,Password,users_status_id,role_id,level_id,ip_id,adress_id
0,1,Admin,User,admin@suporte.com,000.000.000-00,00.000.000-0,00 000.000,(00) 0000-000,(00) 0 0000-00,8CB2237D0679CA88DB6464EAC60DA96345513964,1,1,1,1,1
1,2,Ana,Paula,paula.aragao@carinaquito.com,322.895.558-35,11.111.111-1,000.000,(11) 9843-3182,(11) 8 8888-8888,8CB2237D0679CA88DB6464EAC60DA96345513964,1,1,1,1,30
2,18,Joaquina2,Trix,joaquinatrix@carinaquito.com,123.545.845-58,35.484.566-4,123547899999999999999,(11) 2 2255-4588,(85) 4 8455-5554,269FCD5307BDA3B2751E54D5AB055CF8F8E5C19B,1,2,2,1,32
3,19,Carina,Quito,carina.quito@carinaquito.com,322.895.558-35,11.111.111-1,000.000,(11) 9843-3182,(11) 8 8888-8888,8CB2237D0679CA88DB6464EAC60DA96345513964,1,1,1,1,30
4,20,Rafael,Kohl,rafael.kohl@carinaquito.com,322.895.558-35,11.111.111-1,00 000.0,(11) 9843-3182,(11) 8 8888-8888,CFDE7111FAAF36A7C37AA78D4F144B9EA0240DEB,1,1,1,1,30
5,21,Vitor,Bellotto,vitor.bellotto@carinaquito.com,322.895.558-35,11.111.111-1,00 000.0,(11) 9843-3182,(11) 8 8888-8888,8CB2237D0679CA88DB6464EAC60DA96345513964,1,1,1,1,30
6,22,Alice,Matsuo,alice.matsuo@carinaquito.com,322.895.558-35,11.111.111-1,000.000,(11) 9843-3182,(11) 8 8888-8888,8CB2237D0679CA88DB6464EAC60DA96345513964,1,1,1,1,30
7,23,Helena,Rossi,helena.rossi@carinaquito.com,322.895.558-35,11.111.111-1,000.000,(11) 9843-3182,(11) 8 8888-8888,8CB2237D0679CA88DB6464EAC60DA96345513964,1,1,1,1,30
8,24,Mohamad,Fares,mohamad.fares@carinaquito.com,322.895.558-35,11.111.111-1,00 000.0,(11) 9843-3182,(11) 8 8888-8888,8CB2237D0679CA88DB6464EAC60DA96345513964,1,1,1,1,30
9,25,Artur,Rovere,artur.rovere@carinaquito.com,322.895.558-35,11.111.111-1,000.000,(11) 9843-3182,(11) 8 8888-8888,A2587AD39181B559576A5D9C8576D3CC2F84D712,1,1,1,1,30

In [12]:
df_trix = cqdb.GetTable('Trix')

In [13]:
df_trix

,line_id,case_id,external_ref_number,deadline,date_received,date_received_cq,auth_last_name,info_case,case_country,email_response,...,date_status_ms,deadline_ms,ms_info,letter_reviewed,user_in_charge_production,production_completed,production_ready,monitor,emissary_chosen,closure
0,1,,0009460-19.2013.403.6181,1946-02-12 00:00:00,1946-02-12 00:00:00,1946-02-12 00:00:00,None,None,None,None,...,1946-02-12 00:00:00.000000,1946-02-12 00:00:00,None,None,0,None,None,0,0,None
1,2,6-9080000028545,0002618-91.2011.403.6181,1946-02-12 00:00:00,1946-02-12 00:00:00,1946-02-12 00:00:00,None,None,None,None,...,1946-02-12 00:00:00.000000,1946-02-12 00:00:00,None,None,0,None,None,0,0,None
2,3,9-5821000001559,0007067-24.2013.403.6181,1946-02-12 00:00:00,1946-02-12 00:00:00,1946-02-12 00:00:00,None,None,None,None,...,1946-02-12 00:00:00.000000,1946-02-12 00:00:00,None,None,0,None,None,0,0,None
3,4,5-6191000002205,,1946-02-12 00:00:00,1946-02-12 00:00:00,1946-02-12 00:00:00,None,None,None,None,...,1946-02-12 00:00:00.000000,1946-02-12 00:00:00,None,None,0,None,None,0,0,None
4,5,9-9709000000828,0076690-72.2011.805.0001,1946-02-12 00:00:00,1946-02-12 00:00:00,1946-02-12 00:00:00,None,None,None,None,...,1946-02-12 00:00:00.000000,1946-02-12 00:00:00,None,None,0,None,None,0,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10565,10566,9-6735000031077,None,0001-01-01 00:00:00,0001-01-01 00:00:00,2021-03-08 22:56:23,None,None,None,None,...,2021-03-18 20:31:27.156201,2021-03-18 20:31:27.156202,None,None,0,None,None,0,0,None
10566,10567,2-6825000031732,0050045-18.2021.8.06.0167,0001-01-01 00:00:00,0001-01-01 00:00:00,2021-03-08 22:56:44,None,None,None,None,...,2021-03-18 20:37:43.681851,2021-03-18 20:37:43.681852,None,None,0,None,None,0,0,None
10567,10568,4-3775000031179,0174971-58.2020.8.19.0001,0001-01-01 00:00:00,0001-01-01 00:00:00,2021-03-08 22:52:23,None,None,None,None,...,2021-03-18 20:38:17.229074,2021-03-18 20:38:17.229076,None,None,0,None,None,0,0,None
10568,10569,9-5943000031416,8000279-28.2021.8.05.0120,0001-01-01 00:00:00,0001-01-01 00:00:00,2021-03-08 22:47:33,None,None,None,None,...,2021-03-18 20:38:42.695289,2021-03-18 20:38:42.695290,None,None,0,None,None,0,0,None
10569,10570,1-1098000031276,None,0001-01-01 00:00:00,0001-01-01 00:00:00,2021-03-08 23:06:49,None,None,None,None,...,2021-03-18 20:52:36.436953,2021-03-18 20:52:36.436954,None,None,0,None,None,0,0,None

In [14]:
df_trix['user_in_charge_production'].value_counts()

0    10570
Name: user_in_charge_production, dtype: int64

In [5]:
df_emissary = cqdb.GetTable('Emissary')
df_rating = cqdb.GetTable('Rating')

df_rating['rating'] = df_rating['rating'].astype(float)
df_avr_rating = df_rating.groupby('emissary_id')['rating'].apply(list).apply(np.mean).to_frame().reset_index()
df_avr_rating.columns = ['emissary_id', 'avg']
df_avr_rating

   emissary_id       avg
0           18  3.230769
1           19  3.714286
2           20  3.333333

In [24]:
  
def UpdateRows(x, df, tablename):
    
    
    columns_list = df.columns
    columns_dict = {'id': columns_list[0], 'value': columns_list[1]}
    
    
    theId = int(round(x[0],0))
    theValue = int(round(x[1],0))
    
    sql = "UPDATE {} SET {} = {} WHERE {} = {};".format(tablename, 
                                                        columns_dict['value'], theValue,\
                                                        columns_dict['id'], theId)
    
    
    db_cursor.execute(sql)
    connection.commit()


    return sql

In [25]:
connection = cqdb.Conn()
db_cursor = connection.cursor()
result = df_avr_rating.apply(UpdateRows, df = df_avr_rating, tablename = 'Emissary', axis=1)
connection.close()

In [26]:
df_emissary = cqdb.GetTable('Emissary')
df_emissary

,emissary_id,first_name,last_name,email,cpf,rg,oab,phone,cellphone,bank_code,account_number,bank_agency_number,avg,role_id,emissary_status_id,adress_id
0,18,Correspondente,fgt,teste@teste.com,111.111.111-11,22.222.222-2,000000,(10) 2 1100-0,(10) 2 1100-0,001,26522,111,3,1,5,31
1,19,Sidinelson,Araujo,sidinelson@sidnelson.com,458.715.456-66,84.566.224-5,4444444444444444444444444,(84) 5 8445-5555,(95) 4 8555-5555,022,5484555555555555,0240000000000,4,3,1,33
2,20,Max,Tegmark,teste@gmail.com,123.456.789-10,20.066.295-5,123456978,(11) 9 5444-8888,(11) 9 5444-8888,001,4587,1223,3,1,1,34

In [20]:
df_emissary = cqdb.GetTable('Emissary')
df_emissary

,emissary_id,first_name,last_name,email,cpf,rg,oab,phone,cellphone,bank_code,account_number,bank_agency_number,avg,role_id,emissary_status_id,adress_id
0,18,Correspondente,fgt,teste@teste.com,111.111.111-11,22.222.222-2,000000,(10) 2 1100-0,(10) 2 1100-0,001,26522,111,10,1,5,31
1,19,Sidinelson,Araujo,sidinelson@sidnelson.com,458.715.456-66,84.566.224-5,4444444444444444444444444,(84) 5 8445-5555,(95) 4 8555-5555,022,5484555555555555,0240000000000,3,3,1,33

In [15]:
df_screening = cqdb.GetTable('Screening')

In [16]:
df_screening

,main_id,mail_id,thread_id,mail_date_received,mail_hms_received,mail_subject,mail_from,mail_body,mail_body_snippet,has_attachment,attachment_folder_link,case_id,external_ref_number,date_created,date_updated,checkd,users_id,id_label
0,1,16e621b40e2a0718,16e3d0dba31c9f02,2019-11-13 00:00:00,2020-04-12 00:13:02,Re: RES: [0-9150000028251] Referente ao Pedido...,lis-latam@google.com,b'...',"Hi all, Attached the response letter for this ...",2,None,0-9150000028251,,2020-10-28 23:12:46,2020-10-28 23:12:46,N,1,1
1,2,16d5f62086593562,16d2ce551f3bb65a,2019-09-23 00:00:00,2020-04-12 18:28:42,Re: [6-5526000027768] - URGENT - 24 HOURS - OV...,lis-latam@google.com,b'...',"Hi all, Attached the response letter for this ...",2,None,6-5526000027768,0000904-07.2019.8.17.0260,2020-10-28 23:12:58,2020-10-28 23:12:58,N,15,1
2,3,16c0626420c86643,16bfb3ebc5852120,2019-07-18 00:00:00,2020-04-12 17:34:13,Re: (TAÍS PLS READ) [1-0673000027027] 2019/07/...,tatesser@google.com,b'...',"Oi Vitor, Como falamos, vamos produzir os dado...",1,None,1-0673000027027,,2020-10-28 23:13:03,2020-10-28 23:13:03,N,1,1
3,4,16eb93bc25e0f323,16eb93bc25e0f323,2019-11-29 00:00:00,2020-04-12 22:15:31,FWD: [5-0366000028367] OFICIO 007900-8/2019,lis-latam@google.com,b'...',"Urgent - Fines Hi team, Please see below the r...",2,None,5-0366000028367,0183.19.007900-8,2020-06-19 21:00:44,2020-06-19 21:00:44,N,0,0
4,5,1700ca8ed5948627,16fe9671f13a5e14,2020-02-03 00:00:00,2020-04-12 20:06:01,Re: [0-5710000029462] - LEGAL ISSUE - c 2020/0...,lis-latam@google.com,b'...',"Hi all, Attached the response letter for this ...",2,None,0-5710000029462,,2020-10-28 23:13:40,2020-10-28 23:13:40,N,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41153,43181,178b39c24f2c3591,178b39c24f2c3591,2021-04-08 22:30:55,2021-04-08 22:30:55,[0-6696000031332] - LEGAL ISSUE - FINES - FEDE...,helena.rossi@carinaquito.com,b'*Last Name*: 1\xc2\xaa Vara Federal de Itaja...,Last Name: 1ª Vara Federal de Itajaí/SC Countr...,2,/home/dev/sigo_prod/_attachments/178b39c24f2c3591,0-6696000031332,5010712-21.2020.4.04.7208,2021-04-08 22:34:47,2021-04-08 22:34:47,N,0,0
41154,43182,178b399188baf536,178b399188baf536,2021-04-08 22:27:33,2021-04-08 22:27:33,RES: [2-2111000031132] - (Status Check) - URGE...,helena.rossi@carinaquito.com,"b'Hi LIS,\r\n\r\n\r\n\r\nThis email is related...","Hi LIS, This email is related to: [8-146400003...",2,/home/dev/sigo_prod/_attachments/178b399188baf536,2-2111000031132,,2021-04-08 22:34:47,2021-04-08 22:34:47,N,0,0
41155,43183,178b3de47419b648,178b1ba032ddda7f,2021-04-08 23:43:11,2021-04-08 23:43:11,Re: RES: [2-2166000030995] - (IMEI 2nd phase) ...,lis-latam@google.com,"b'\r\n\r\nHi all,\r\n\r\nAttached the response...","Hi all, Attached the response letter/planilha ...",2,/home/dev/sigo_prod/_attachments/178b3de47419b648,2-2166000030995,5001066-15.2021.8,2021-04-08 23:48:22,2021-04-08 23:48:22,N,0,0
41156,43184,178b3e01b3ef8c8f,178889fde4e9b611,2021-04-08 23:45:11,2021-04-08 23:45:11,Re: [3-3117000031138] - LEGAL ISSUE - c 2021/0...,lis-latam@google.com,"b'\r\n\r\nHi,\r\n\r\nPlease find attached the ...","Hi, Please find attached the .pdf file with ou...",2,/home/dev/sigo_prod/_attachments/178b3e01b3ef8c8f,3-3117000031138,5001066-15.2021.8.21.0007,2021-04-08 23:48:22,2021-04-08 23:48:22,N,0,0
41157,43185,178b3debb7cffd96,178add4a774f79e1,2021-04-08 23:43:41,2021-04-08 23:43:41,Re: RES: [7-3566000031082] - (Duplicate) - c 2...,lis-latam@google.com,"b'\r\n\r\nHi all,\r\n\r\nAttached the response...","Hi all, Attached the response letter/planilha ...",2,/home/dev/sigo_prod/_attachments/178b3debb7cffd96,7-3566000031082,5001066-15.2021.8.21.0007,2021-04-08 23:48:22,2021-04-08 23:48:22,N,0,0